<div class="gap"></div>
<div class="row">
  <aside class="col-md-2 bg-info left-aside">
    <!-- Sidebar -->
      <h3 class="col-md-12 center-text">Set Details</h3>
      <h3>{{cards.set.set_name}}</h3>
      <h6 ng-show="cards.set.avg_rating >= 1">Set Rating: {{cards.set.avg_rating}}</h6>
      <h5>By: {{cards.set.username}}</h5>
      <p>{{cards.set.description}}</p>
      <h5>Category: {{cards.set.category}}</h5>
      <button class="col-md-offset-1 col-md-10 btn btn-success" ng-click="cards.reviewCards()">Review Set</button>
      <div class="col-md-12 bg-primary divide"></div>
    <div class="row">
      <h3 class="col-md-12 center-text">Set Comments</h3>
    </div>
      <div class="row" ng-hide="cards.username == false">
        <h4 class="center-text">Write a comment:</h4>
        <textarea class="col-md-offset-1 col-md-10" rows="6" ng-model="cards.setComment"></textarea>
        <button class="col-md-offset-1 col-md-10 btn btn-success" ng-click="cards.submitSetComment()">Submit Comment</button>
      </div>
      <div class="col-md-offset-1 col-md-10 bg-primary divide"></div>
      <div class="row" ng-repeat="comment in cards.allSetComments">
        <h6 ng-show="comment.rating >= 1" class="col-md-12">Rating: {{comment.rating}}/10</h6>
        <p class="col-md-12">{{comment.comment}}</p>
        <h5 class="col-md-12">{{comment.username}}</h5>
        <div class="col-md-offset-1 col-md-10 bg-primary divide"></div>
      </div>
  </aside>
  <section class="col-md-8">
    <div class="row">
      <div class="col-md-6" ng-repeat="set in home.sets">
        <div ng-click="home.showComments(set.id)" class="col-md-12 cardDisplay bg-success">
          <h6 ng-show="set.avg_rating >= 1">Set Rating: {{set.avg_rating}}</h6>
          <h5>Created by: {{set.username}}</h5>
          <h2>{{set.set_name}}</h2>
          <h4>{{set.description}}</h4>
          <h5>{{set.category}}</h5>
          <p><a ng-show="home.currentSelected == set.id" class="col-md-12 btn btn-lg btn-success" ng-click="home.viewCards(set)">Practice this set!</a></p>
        </div>
      </div>
    </div>
    <!-- Main section -->
    <div class="row">
      <div class="col-md-12" ng-repeat="card in cards.cardArray">
          <div class="col-md-6" ng-click="cards.viewCard(card)">
            <div class="col-md-12 cardDisplay bg-success">
              <h3 class="col-md-5">{{card.question}}</h3>
              <img class="col-md-7 card-image" ng-show="card.q_image != 'none'" ng-src="{{card.q_image}}" />
            </div>
          </div>

          <div class="col-md-6" ng-click="cards.viewCard(card)">
            <div class="col-md-12 cardDisplay answer">
              <h3 class="col-md-5">{{card.answer}}</h3>
              <img class="col-md-7 card-image" ng-show="card.a_image != 'none'" ng-src="{{card.a_image}}" />
            </div>
          </div>
          <div ng-hide="cards.username == false">
            <div class="col-md-6">
              <button ng-show="cards.editable && !card.edit" class="btn btn-warning col-md-offset-1 col-md-10" ng-click="card.edit = true">Edit Question</button>
              <button class="btn btn-success col-md-offset-1 col-md-10" ng-click="card.edit = false; cards.update($index)" ng-show="card.edit">Update Changes</button>
              <div ng-show="card.edit">
                <h3 class="col-md-2">Question:</h3>
                <h6 class="col-md-offset-4 col-md-3">Remaining: {{255 - card.question.length}}</h6>
                <button class="col-md-3 btn btn-default" ng-click="cards.chooseQuestionImage = true">Add Image</button>
                <div class="row" ng-show="cards.chooseQuestionImage">
                  <button class="btn btn-warning col-md-4" ngf-select="cards.uploadQuestion($file, $index)">Upload Image</button>
                  <input type="text" ng-model="card.q_image" class="col-md-4" placeholder="or paste an image URL" />
                </div>
                <textarea class="form-control" rows="2" ng-model="card.question"></textarea>
              </div>
            </div>
          </div>
          <div ng-hide="cards.username == false">
            <div class="col-md-6">
              <button ng-show="cards.editable && !card.edit" class="btn btn-warning col-md-offset-1 col-md-10" ng-click="card.edit = true">Edit Answer</button>
              <button class="btn btn-success col-md-offset-1 col-md-10" ng-click="card.edit = false; cards.update($index)" ng-show="card.edit">Update Changes</button>
              <div ng-show="card.edit">
                <h3 class="col-md-2">Answer:</h3>
                <h6 class="col-md-offset-4 col-md-3">Remaining: {{255 - card.answer.length}}</h6>
                <button class="col-md-3 btn btn-default" ng-click="cards.chooseAnswerImage = true">Add Image</button>
                <div class="row" ng-show="cards.chooseAnswerImage">
                  <button class="btn btn-warning col-md-4" ngf-select="cards.uploadQuestion($file, $index)">Upload Image</button>
                  <input type="text" ng-model="card.q_image" class="col-md-4" placeholder="or paste an image URL" />
                </div>
                <textarea class="form-control" rows="2" ng-model="card.question"></textarea>
              </div>
            </div>
          </div>
      </div>
      <!--  -->
    </div>
  </section>
  <aside class="col-md-2 bg-info right-aside">
    <h3 class="col-md-12 center-text">Comments</h3>
    <div class="row" ng-hide="cards.username == false">
      <h4 class="center-text">Write a comment:</h4>
      <textarea class="col-md-offset-1 col-md-10" rows="6" ng-model="cards.cardComment"></textarea>
      <button class="col-md-offset-1 col-md-10 btn btn-success" ng-click="cards.submitCardComment()">Submit Comment</button>
    </div>
    <div class="col-md-12 bg-primary divide"></div>
    <div class="row" ng-repeat="comment in cards.allComments">
      <p class="col-md-12">{{comment.comment}}</p>
      <h5 class="col-md-12">{{comment.username}}</h5>
      <div class="col-md-offset-1 col-md-10 bg-primary divide"></div>
    </div>
    <!-- Display for card comments -->
  </aside>
</div>
