<!-- <section ng-hide="create.username">
  <h1>You must be logged in to create a set</h1>
</section> -->

<!-- ng-show="create.username" -->
<section>
  <div class="gap"></div>
  <div class="row">
    <aside class="col-md-2 bg-info left-aside">
      <div class="row" ng-repeat="card in create.cards">
        <div class="col-md-6 side-card bg-success" ng-click="create.editCard(card, $index)">
          <h5>Question {{$index + 1}}</h5>
        </div>
        <div class="col-md-6 side-card answer" ng-click="create.editCard(card, $index)">
          <h5>Answer {{$index + 1}}</h5>
        </div>
      </div>
      <!-- Sidebar will show cards -->
    </aside>
    <section class="col-md-10">
      <!-- Main section -->
      <div class="row">
        <ol class="col-md-offset-1 col-md-9 breadcrumb" ng-show="create.showNewSet">
          <li><h4>Choose category:</h4></li>
          <li ng-repeat="category in create.categories"><button class="btn btn-success" ng-click="create.newSet.category = category">{{category}}</button></li>
        </ol>
      </div>
      <div class="row" ng-show="create.showNewSet">
        <div class="set-info-area col-md-offset-1 col-md-8">
          <div class="form-group">
            <label>Set Name:</label>
            <input class="form-control input-lg" type="text" ng-model="create.newSet.name"/>
          </div>
          <div class="form-group">
            <label>Set Description:</label>
            <textarea class="form-control" rows="5" ng-model="create.newSet.description"></textarea>
          </div>
          <h4 class="col-md-12">Category: {{create.newSet.category}}</h4>
          <div class="form-group">
            <button class="btn btn-success btn-lg col-md-12" ng-click="create.createSet()">Create New Set</button>
          </div>
        </div>
      </div>
      <div class="row" ng-hide="create.showNewSet">
        <div class="col-md-offset-1 col-md-7">
          <div class="row cardDisplay bg-success">
            <h2>{{create.activeCard.question}}</h2>
          </div>
          <div class="row">
            <h3 class="col-md-2">Question:</h3>
            <h6 class="col-md-offset-4 col-md-3">Remaining: {{255 - create.activeCard.question.length}}</h6>
            <button class="col-md-3 btn btn-default">Upload Picture</button>
            <textarea class="form-control" rows="2" ng-model="create.activeCard.question"></textarea>
          </div>
        </div>
        <div class="col-md-offset-1 col-md-3">
          <h3 class="center-text">Comment</h3>
          <textarea class="form-control" rows="10" ng-model="create.cardComment" ng-blur="create.comment = true"></textarea>
        </div>
      </div>
      <div class="gap"></div>
      <div class="row" ng-hide="create.showNewSet">
        <div class="col-md-offset-1 col-md-7">
          <div class="row cardDisplay answer">
            <h2>{{create.activeCard.answer}}</h2>
          </div>
          <div class="row">
            <h3 class="col-md-2">Answer:</h3>
            <h6 class="col-md-offset-4 col-md-3">Remaining: {{255 - create.activeCard.answer.length}}</h6>
            <button class="col-md-3 btn btn-default">Upload Picture</button>
            <textarea class="form-control" rows="2" ng-model="create.activeCard.answer"></textarea>
          </div>
          <div class="row">
            <button class="btn btn-warning btn-lg col-md-12 spaced-button" ng-click="create.updateCard()" ng-show="create.edit">Update Card</button>
            <button class="btn btn-success btn-lg col-md-12 spaced-button" ng-click="create.addCard()" ng-hide="create.edit">Add Next Card</button>
            <button class="btn btn-success btn-lg col-md-12 spaced-button">Finish Set</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>
