<div class="gap"></div>
<div class="row">
  <aside class="col-md-2 bg-info left-aside">
    <h3 class="col-md-12 center-text">Categories</h3>
    <!-- Sidebar with categories -->
    <button class="col-md-12 btn btn-success spaced-button" ng-click="mine.getSetsByRating()">Top Rated</button>
    <button class="col-md-12 btn btn-success spaced-button" ng-click="mine.getSetsByFavorite()">Favorited</button>
    <button class="col-md-12 btn btn-primary spaced-button" ng-repeat="category in mine.categories" ng-click="mine.getSetsByCategory(category)">{{category}}</button>
    <button class="col-md-12 btn btn-success spaced-button" ng-click="mine.displayHome()">Show All</button>
  </aside>
  <section class="col-md-8">
    <!-- Main section -->
    <div class="row">
      <div class="col-md-6" ng-repeat="set in mine.sets">
        <div ng-click="mine.showComments(set.id)" class="col-md-12 cardDisplay bg-success">
          <h6 ng-show="set.avg_rating >= 1">Set Rating: {{set.avg_rating}}</p>
          <h5>Created by: {{set.username}}</h5>
          <h2>{{set.set_name}}</h2>
          <h4>{{set.description}}</h4>
          <h5>{{set.category}}</h5>
          <p><a href="/review" ng-show="mine.currentSelected == set.id" class="col-md-12 btn btn-lg btn-success">Practice this set!</a></p>
        </div>
      </div>
    </div>
  </section>
  <aside class="col-md-2 bg-info right-aside">
    <!-- Display for set comments -->
    <h3 class="center-text">Comments</h3>
    <div ng-repeat="comment in mine.setComments">
      <h6 ng-show="comment.rating">{{comment.rating}}</h6>
      <p>{{comment.comment}}</p>
      <h5>{{comment.username}}</h5>
      <div class="col-md-12 bg-primary divide"></div>
    </div>
  </aside>
</div>
