<form class="form-horizontal col-md-6 col-md-offset-3">
  <div class="form-group row">
    <div class="col-md-offset-2 col-md-8">
      <input class="form-control input-lg" type="text" ng-model="register.newUsername" ng-blur="register.checkUsername()" placeholder="Choose a username">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-offset-2 col-md-8">
      <input class="form-control input-lg" type="text" ng-model="register.newEmail" ng-blur="register.validateEmail()" placeholder="Enter an email address">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-offset-2 col-md-8">
      <input class="form-control input-lg" type="password" ng-model="register.newPassword" placeholder="Choose a password (At least 8 characters!)">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-md-offset-2 col-md-8">
      <input class="form-control input-lg" type="password" ng-model="register.confirmPassword" placeholder="Confirm your password">
    </div>
  </div>

  <div class="row">
    <div ng-hide="register.newUsername" class="alert alert-success">
      <h4>Please choose a username.</h4>
    </div>
  </div>
  <div class="row">
    <div ng-show="register.userData.existingUsername" class="alert alert-warning">
      <h4>Sorry, that username has already been chosen.</h4>
    </div>
  </div>
  <div class="row">
    <div ng-hide="register.userData.validEmail || register.newEmail == undefined" class="alert alert-warning">
      <h4>Please enter a valid email address.</h4>
    </div>
  </div>
  <div class="row">
    <div ng-hide="register.newPassword.length >= 8 || register.newPassword == undefined" class="alert alert-warning">
      <h4>Your password must be at least 8 characters long.</h4>
    </div>
  </div>
  <div class="row">
    <div ng-hide="register.newPassword == register.confirmPassword" class="alert alert-danger">
      <h4>Passwords must match!</h4>
    </div>
  </div>
  <div class="row">
    <button class=" col-md-offset-3 col-md-6 btn btn-success btn-lg" ng-click="register.requirements()">Sign Up Now!</button>
  </div>
  <div class="row">
    <div ng-show="register.userData.successful" class="alert alert-success">
      <h4>You have been registered!</h4>
    </div>
  </div>
</form>
