h1, h2, h3, h4, h5, h6, p, label, input {
  color: black;
}

.gap {
  height: 60px;
}

.cardDisplay {
  padding: 30px;
  border-radius: 20px;
  height: 250px;
  color: black;
  margin-bottom: 15px;
}

.center-text {
  color: black;
  text-align: center;
}

aside {
  height: 800px;
}

.left-aside {
  border-radius: 0 20px 20px 0;
}

.right-aside {
  border-radius: 20px 0 0 20px;
}

.divide {
  height: 5px;
}

nav button {
  margin: 0 10px 0 10px;
}

.spaced-button {
  margin: 10px 0 10px 0;
}

.answer {
  background-color: white;
}

.set-info-area {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 15px;
}

.side-card {
  height: 75px;
  border: 2px solid black;
  margin-top: 15px;
  
}
